@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700&display=swap');

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Golos Text';
}

.app-header {
  margin-top: 50px;
  width: 95%;
  color: white;
  font-weight: bolder;
  font-size: 52px;
  display: flex;
  flex-direction: row;
}

.inventory-icon {
  color: rgb(219, 164, 120);
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 25px;
  font-size: 48px;
}

.app-button-box {
  width: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mButton {
  width: 15%;
  background-color: royalblue;
  padding: 8px;
  padding-inline: 16px;
  border: 0;
  border-radius: 8px;
  color: white;
  font-family: 'Golos Text';
  font-weight: 500;
  font-size: 20px;
}

.mButton:hover {
  background-color: rgb(55, 88, 185);
  cursor: pointer;
}

.text-input {
  width: 30%;
  background-color: white;
  padding: 8px;
  padding-inline: 16px;
  border: 0;
  border-radius: 8px;
  font-family: 'Golos Text';
  font-weight: 500;
  font-size: 20px;
}

.app-product-list {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
 * -----------PRODUCT ROW------------
 */

.product-row {
  background-color: brown;
  margin-top: 15px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-uuid {
  width: 20%;
  margin-left: 20px;
}

.product-title {
  width: 50%;
}

.product-cost {
  width: 30%;
  margin-right: 20px;
}

.product-label {
  margin-bottom: 2px;
  font-weight: bold;
}

.product-value {
  margin-left: 10px;
}

.emptyList-label {
  padding-top: 10%;
  height: 10%;
  color: white;
  font-weight: normal;
  font-size: 40px;
}

/*
 * ----------------------------------
 */

/*
 * -----------ADD PRODUCT POPUP------------
 */

 .popup-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.add-popup.body {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-family: 'Golos Text';
  font-weight: 500;
  font-size: 20px;
}

.add-popup.bar {
  background-color: rgb(55, 88, 185);
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.add-popup.title {
  font-weight: bolder;
  font-size: 30px;
  margin-left: 5%;
  padding-block: 20px;
}

.add-popup.close {
  font-weight: bolder;
  font-size: 32px;
  margin-right: 5%;
}

.add-popup.close:hover {
  color: rgba(255, 255, 255, 0.507);
  cursor: pointer;
}

.add-popup.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input.productName {
  background-color: rgb(205, 205, 205);
  width: 80%;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-input.productCost {
  background-color: rgb(205, 205, 205);
  width: 80%;
  font-size: 16px;
  margin-block: 10px;
}

.mButton.popup {
  width: 50%;
  margin-block: 20px;
}

/*
 * ----------------------------------
 */
